@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(45deg, #a80000 0%, #1c3c80 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
